HTML {
    background-color: #FCFCFC;
}
BODY {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    margin-left: 24em;
    padding: 3em;
    background-color: white;
    position: relative;
}
H1, H2, H3 {
    margin: 0;
    padding: 0;
}

/**
 * header
 */

HEADER {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(240, 240, 240, 1);
    left: -24em;
    width: 24em;
    text-align: center;
    padding-top: 2em;
}
HEADER .vignette {
    border-radius: 20%;
    display: inline-block;
    position: relative;
}
HEADER .vignette IMG {
    width: 20em;
    border-radius: 20%;
    display: block;
    border: 1px solid #fff;
}
HEADER .vignette:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: inset 1em 2em 1em 0 rgba(240, 240, 240, 0.75),
                inset -1em -2em 1em 0 rgba(240, 240, 240, 0.75),
                inset 2em -1em 1em 0 rgba(240, 240, 240, 0.75),
                inset -2em 1em 1em 0 rgba(240, 240, 240, 0.75);
}
HEADER H1 {
    font-size: 2em;
    color: #555;
    line-height: 1.5em;
    margin-top: 1em;
}
HEADER H2 {
    font-size: 1.5em;
    color: #AAA;
}

/**
 * footer
 */

FOOTER {
    padding: 1em;
    text-align: right;
    color: rgba(0, 0, 0, 0.2);
}


/**
 * article
 */

ARTICLE {
    margin-bottom: 4em;
}
ARTICLE H1 {
    font-size: 2.5em;
}
ARTICLE A {
    text-decoration: none;
}
ARTICLE A:hover {
    text-decoration: underline;
}
ARTICLE UL {
    list-style: none;
    padding: 0;
}
ARTICLE H1,
ARTICLE UL {
    margin-left: 50px;
}
ARTICLE UL LI {
    line-height: 1.2em;
    margin-bottom: 0.75em;
}

/**
 * about
 */
#about {
    color: rgba(80,0,0,1);
}
#about A,
#about H1 {
    color: rgba(160,80,0,1);
}

/**
 * academical
 */
#academical {
    color: rgba(80,80,0,1);
}
#academical A,
#academical H1 {
    color: rgba(160,160,0,1);
}

/**
 * professional
 */
#professional {
    color: rgba(0, 80, 0, 1);
}
#professional A,
#professional H1 {
    color: rgba(0, 160, 0, 1);
}
#professional UL {
    padding-left: 0;
}
#professional .help {
    font-size: 0.8em;
}
#professional .help,
#professional UL LI {
}
#professional UL LI {
    margin-bottom: 36px;
    position: relative;
}
#professional UL P {
    margin-top: 0.5em;
    color: rgba(0, 80, 0, 0.5);
}
#professional H2,
#professional H3 {
    font-size: 1.1em;
    font-weight: normal;
}
#professional H2 A {
    color: inherit;
}
#professional .period {
    position: absolute;
    display:  block;
    margin-left: -120px;
    width: 100px;
    top: 0;
    text-align: right;
    font-size: 0.8em;
    color: rgba(0, 80, 0, 0.5);
}
#professional UL LI.secondary {
    font-size: 0.8em;
}
#professional .help,
#professional UL LI.secondary,
#professional .keywords {
    color: rgba(0, 80, 0, 0.33);
}


